<!DOCTYPE html>
<html>
<head>
<title>Angular file</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-cookies.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>.
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    
    <style>
        .navbar { border-radius:0; }
    </style>

</head>
 

  <body ng-app="myApp" ng-controller="myCtrl">
  

             <!-- NAVIGATION -->
        <nav class="navbar navbar-inverse" role="navigation">
             <div class="navbar-header">
                 <a class="navbar-brand" ui-sref="#">Networking Site</a>
             </div>
             <ul class="nav navbar-nav">
                <li><a ui-sref="home">Home</a></li>
                <li><a ui-sref="about">About</a></li>
             </ul>
       </nav>
   
    <!-- partial-home.html -->
  <div class="jumbotron text-center">
       <h1><i>This Is Homey Page</i></h1>
       <br>
       <h1>WELCOME</h1>
       <p>This page demonstrates<span class="text-danger">nested</span>views</p> 
       <!-- MAIN CONTENT -->
            <div class="container">
                <div ui-view></div>
            </div>    
  </div>



		<div >
  			<p><b><mark>Users</mark></b>:</p>
  			<h>{{content}}</h> <!-- //users data -->
  		</div>
          
          <div>
                <form>
                     <h><b><b>Login</b></b>.</h>
                     <br>
                     <b>Username</b>:
                    <input type="text" ng-model="username" Placeholder="enter the username"> 
                     
                     <b>Password</b>:
                     <input type="text" ng-model="Password" Placeholder="enter the password">
                     
                     <input type="submit" ng-click="save()">

     
                                       
                </form> 
                               <!--<h>{{formResponse.username}}</h>   -->                       <h>{{formResponse}}</h>   
                         <hr>
                </div>
            
               

             <div>
             	   <input type="text" ng-model="Uname" Placeholder="enter Uname">
             	   <button ng-click="logout()"><b>logout</b>.</button>
             	   <br>
             	   <h>{{logoutResponse}}</h>
             	   <hr>

             </div>

            
             <div>
             	   <form>
             	   	      <input type="text" ng-model="userID" Placeholder="enter userID">
             	   	      
             	   	      <button ng-click="DeleteUser()"><b>DeleteUser</b>.</button>
             	   	      
             	   </form>
             	   	      <h>{{removeResponse}}</h>
             	   	      <hr>
             
             </div>

            
             
             <div>
             	   <form>
             	           <b>passwordReset</b>:
             	           <br>
             	   	      <input type="text" ng-model="Username" Placeholder="enter username">
             	   	      
             	   	      <input type="text" ng-model="answer" Placeholder=" enter ur answer">
             	   	      
             	   	      <button ng-click="passwordReset()"><b>GetToken</b>.</button>
             	   	      
             	   </form>
             	           <h>{{resetResponse}}</h>
                           <hr> 
             </div>

                  
                   <div>
                   	     <form>
                   	           <input type="text" ng-model="password" Placeholder="Enter New password">
                   	     	    <input type="text" ng-model="id" Placeholder="Enter Id">
                   	     	    <input type="text" ng-model="token" Placeholder="Enter Token">
                   	     	    <button ng-click="updatePassword()"><b>updatePassword</b>.</button>

                   	     </form>
                   	             <h>{{updateResponse}}</h>
                   </div>

                          


  		<script>

			var app = angular.module('myApp', ['ngCookies','ui.router']);
			app.controller('myCtrl', function($scope, $http,$cookieStore)
			 {
			 	 $http.defaults.headers.post['Content-Type'] = 'application/json;charset=utf8';
    			
    			$http.get("http://localhost:3000/api/users").then(function(response) 
    			{
        			$scope.content = response.data;
   				 });

                   
                   //user login
                  $scope.save=function()
			     {
			     	
			     	$http({method:"POST",
			     		   url:"http://localhost:3000/api/login",
			     		   data:{
			     		   	       username:$scope.username,
			     		   	       password:$scope.Password

			     		   }
				   		}).then(function(response)   	  
			     	 		 {

			     	 		 	if(response.data)
			     	 		 	{
			     	 		 	 $scope.formResponse=response.data;
			     	 		 	 $cookieStore.put("data",response.data)
			     	 		 	}
			     	  	   else
			     	  	   	{
			     	  	   		$scope.formResponse=response.data;
			     	  	   	}

			     	 	 })
			     }

			     
			     //logout response
			     $scope.logout=function()
			     {
			     	
			     	$http({method:"GET",
			     		   url:"http://localhost:3000/api/logout",
			     		  
				   		}).then(function(response)   	  
			     	 		 {
			     	  	   $scope.logoutResponse=response.data;
			     	  	   $cookieStore.remove("data");

			     	 	 });
			     };

			
             
             $scope.DeleteUser=function()
			     {
			     	
			     	$http({method:"POST",
			     		   url:"http://localhost:3000/api/users/delete",
			     		   data:{
			     		   	      id:$scope.userID
			     		   }
			     		  
				   		}).then(function(response)   	  
			     	 		 {
			     	  	   $scope.removeResponse=response.data;
			     	 	 })
			     }
            

                $scope.passwordReset=function()
			     {
			     	
			     	$http({method:"POST",
			     		   url:"http://localhost:3000/api/users/passwordReset",
			     		   data:{
			     		   	      answer:$scope.answer,
			     		   	      username:$scope.Username

			     		   }
			     		  
				   		}).then(function(response)   	  
			     	 		 {
			     	  	   $scope.resetResponse=response.data;
			     	 	 })
			     }
            
              
               $scope.updatePassword=function()
			     {
			     	
			     	$http({method:"POST",
			     		   url:"http://localhost:3000/api/users/updatepassword",
			     		   data:{
			     		   	      password:$scope.password,
			     		   	      id:$scope.id,
			     		   	      token:$scope.token

			     		   }
			     		  
				   		}).then(function(response)   	  
			     	 		 {
			     	  	   $scope.updateResponse=response.data;
			     	 	 })
			     }
            });  
     app.config(function($stateProvider, $urlRouterProvider) {
    
    $urlRouterProvider.otherwise('/');
    
    $stateProvider
        
        // HOME STATES AND NESTED VIEWS ========================================
        .state('home', {
            url: '/home',
            templateUrl: "home.html"
        })
        
       
        .state('about', {
            template:"nothing to show"       
        })
        .state('#', {
            url: '/',
            template: "This is main page"
        });
        
        
});
  

		</script>
	</body>
</html>
